<style>
  span.article-title {
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  span.article-date {
    color: grey;
  }
  div.article {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    color: black;
    margin-top: 10px;
    transition: box-shadow 200ms ease-in-out;
  }
  div.article:hover {
    box-shadow: 0 0 20px lightblue;
    transition: box-shadow 200ms ease-in-out;
    text-decoration: none;
  }
  a.article-link:hover {
    text-decoration: none;
  }
</style>