body {
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
  background-color: rgba(30,115,190,1);
  color: white;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

a {
  color: white;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}


